
label.filterItem {
    padding-left: 20px;
}

// Background color of features
.true {
    background-color: steelblue;
}
.via {
    background-color: plum;
}
.partially {
    background-color: lightgreen;
}
.soon {
    background-color: mediumpurple
}

//Styling of the feature spans
.feature {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: help;
    display: block;
    margin: 3px;
    padding: 3px 40px 3px 10px;
    font-size: 1em;
}

//Styling of the collapse panels
.featureTitle {
    font-size: 1em;
    font-weight: bold;
}

a[aria-expanded=true] .glyphicon-chevron-up {
   display: none;
}
a[aria-expanded=false] .glyphicon-chevron-down {
   display: none;
}

.dropIcon {
    color: #337ab7;
}